<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhewen.aidlserverstudy">
    
    <permission android:name="com.zhewen.aidlService.permission.ACCESS_SERVICE"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIDLStudy">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".aidl.CommandService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zhewen.aidlserverstudy.aidl.commandservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>